<html>
  <head>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'
      rel='stylesheet'
    />
    <style>
        body {
            font-family: "Nunito", sans-serif;
        }
        h3 {
            font-weight: bold;
            font-size: 20px;
        }
        p {
            font-size: 18px;
        }

    </style>
  </head>

  <body>
    <div>
      <h3>Hi {{name}},</h3>
      <p>Your password has been changed successfully.</p>
      <p>If you did not make this request, please log into your MyQuizPal account and update your account.</p>
    </div>
  </body>
</html>