<html>
  <head>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'
      rel='stylesheet'
    />
    <style>
        body {
            font-family: "Nunito", sans-serif;
        }
        h3 {
            font-weight: bold;
            font-size: 20px;
        }
        p {
            font-size: 18px;
        }
        a {
            text-decoration: none;
            color: blueviolet;
            font-weight: bold;
        }
        span {
            font-size: 24px;
            display: block;
            margin: 0 auto;
            font-weight: bold;
            color: coral;
        }
    </style>
  </head>

  <body>
    <br>
      <h3>Hello {{name}},</h3>
      <p>Please find below the access code to take your assessment.</p>
      <br><br>
      <p>Use this code to take the assessment for {{subject}}. <span>{{code}}</span></p>
      <p>To access the assessment, you need to be logged into your MyQuizPal account.</p>
    </div>
  </body>
</html>